<ion-menu contentId="main-contentc" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="brand">
          <ion-img src="assets/main-logo-white.png" class="brand-logo" alt="Logo"></ion-img>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="background: white;">
    <ion-list class="schedules">
      <ion-menu-toggle auto-hide="true">
        <ion-item button (click)="gotoDashboard()">Dashboard</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item button >Appointments</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle (click)="gotoClients()" auto-hide="true">
        <ion-item button >Clients</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle (click)="gotoMessages()" auto-hide="true">
        <ion-item button >Messages</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" class="background" id="main-contentc">
  <ion-toolbar class="background">
    <div class="container header-inner">
      <div class="brand">
        <ion-img src="assets/main-logo-white.png" class="brand-logo" alt="Logo"></ion-img>
      </div>
      <nav class="nav">
        <a tappable (click)="gotoDashboard()">Dashboard</a>
        <a tappable (click)="gotoAppointments()">Appointments</a>
        <a tappable class="active-link">Clients</a>
        <a tappable (click)="gotoMessages()">Messages</a>
      </nav>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline" size="medium"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="testimonials container">
    <ion-searchbar color="light" 
                  placeholder="search clients..."
                  (ionInput)="filterClients($event)"></ion-searchbar>
  </section>



  <!-- All dashboard data -->
  <ng-container *ngIf="!isLoadingApp; else appSkeletonc">
    <section id="testimonials" class="testimonials container">
      <h2 class="section-title" style="text-align: center;">All Clients</h2>
      <ion-list [insert]="true" class="schedules" *ngIf="filteredClients.length > 0; else noResultsc">
        <ion-item *ngFor="let c of filteredClients" [button]="true" detail="false">
          <div class="unread-indicator-wrapper" slot="start">
            <div class="unread-indicator"></div>
          </div>
          <ion-label>
            <strong>{{ c.name }}</strong>
            <ion-text>{{ c.email }}</ion-text><br />
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-icon color="medium" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-item>
      </ion-list>
      
      <ng-template #noResultsc>
        <p *ngIf="filteredClients.length === 0 || filterQuery?.trim() !== ''" style="text-align: center; color: red;">No client with that Appointment.</p>
      </ng-template>
      <p *ngIf="totalUsers === 0" style="text-align: center; color: red;">You have no Clients.</p>
    </section>
  </ng-container>

  <ng-template #appSkeletonc>
    <section id="testimonials" class="testimonials container">
      <h2 class="section-title" style="text-align: center;">All Clients</h2>
      <ion-list [insert]="true" class="schedules-skeleton">
        <ion-item [button]="true" detail="false" lines="none">
          <div class="unread-indicator-wrapper" slot="start">
            <div class="unread-indicator">
              <ion-skeleton-text animated ></ion-skeleton-text>
            </div>
          </div>
          <ion-label>
            <strong>
              <ion-skeleton-text animated ></ion-skeleton-text>
            </strong>
            <ion-text>
              <ion-skeleton-text animated ></ion-skeleton-text>
            </ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">
              <ion-skeleton-text animated ></ion-skeleton-text>
            </ion-note>
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">
              <ion-skeleton-text animated ></ion-skeleton-text>
            </ion-note>&nbsp;
          </div>
        </ion-item>
      </ion-list>
    </section>
  </ng-template>
</ion-content> 
