<ion-tabs>
  <ion-tab-bar slot="bottom" class="mobile-tabbar">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-me">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="work-with-me">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Work with me</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="podcasts">
      <ion-icon name="mic-outline"></ion-icon>
      <ion-label>Podcasts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
